*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #33436e;
    text-align: center;
}
h1{
    font-size: 5rem;
}
.drum{
    font-size: 4.5rem;
    width: 100px;
    height: 100px;
    color: blueviolet;
    background-color: white;
    border: 10px solid #29324b;
    border-radius: 5px;
    margin: 10px;
    text-align: center;
    background-size: cover;
    
}

.pressed{
    box-shadow: 7px 7px 12px grey;
}

.w{
    background-image: url("images/tom1.png");
   
}
.a{
    background-image: url("images/tom2.png");
}

.s{
    background-image: url("images/tom3.png");
}

.d{
    background-image: url("images/tom4.png");
}

.j
{
    background-image: url("images/kick.png");
}
.k{
    background-image: url("images/crash.png");
}
.l{
    background-image: url("images/snare.png");
}